### It's temporally used file so any modification will be fine ###

In [1]:
from MACalc import *
from MAUtil import *
from MAInit import *
from MAPost import *
from GASpyfuncs import *
import time
pd.set_option('display.max_columns', 100)

In [11]:
index = 448
init_query(files[index],'local')

Atoms(symbols='Cu16COCOCO', pbc=[True, True, False], cell=[[5.200358657806354, 0.0, 3.1843012923503887e-16], [8.36281454406039e-16, 5.200358657806353, 3.1843012923503882e-16], [0.0, 0.0, 44.12650645844454]], tags=...)

In [13]:
file = 'Cu_100_u2_RPBE_no005_CO_n3_d3__.traj'
query(file,'local')

Atoms(symbols='COCOCO', pbc=[True, True, False], cell=[[5.200358657806354, 0.0, 3.1843012923503887e-16], [8.36281454406039e-16, 5.200358657806353, 3.1843012923503882e-16], [0.0, 0.0, 44.12650645844454]], tags=..., calculator=SinglePointCalculator(...))

In [2]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)

db = client.database
collection = db.adsE_collection

In [3]:
elements = ['Ag', 'Al', 'Au', 'Cu', 'Pt', 'Pd', 'Ni', 'Rh']
faces = ['100', '111', '110', '211']

dictlis = []

for ele in elements:
    for face in faces:
        dicte = {'element':ele, 'face':face}
        dictlis.append(dicte)

dictlis.append({'element':'Ru', 'face':'001'})
dictlis.append({'element':'Ru', 'face':'100'})
dictlis.append({'element':'Zn', 'face':'001'})
dictlis.append({'element':'Zn', 'face':'100'})

dictlis.append({'element':'CoPt3', 'face':'100'})
dictlis.append({'element':'GaNi', 'face':'110'})
dictlis.append({'element':'ZnCu', 'face':'100'})
dictlis.append({'element':'ZnCu', 'face':'110'})
dictlis.append({'element':'CuSn', 'face':'100'})
dictlis.append({'element':'CuSn', 'face':'001'})

In [4]:
inst = []
dfall = []
df = []
dfpred = []

for i in range(len(dictlis)):
    try:
        du = dataset_utilizer('adsE_method2', **dictlis[i])
        inst.append(du)
        dfall.append(du.dfall)
        df.append(du.df)
        dfpred.append(du.dfpred)
    except:
        print('Error: {0}'.format(dictlis[i]))

In [5]:
for i in range(len(dfall)):
    tmp = dfall[i][dfall[i]['converged']=='yes']
    print(len(dfall[i]), len(tmp), len(tmp)/len(dfall[i]))

16 16 1.0
35 30 0.8571428571428571
64 42 0.65625
12 8 0.6666666666666666
24 24 1.0
23 23 1.0
27 27 1.0
21 21 1.0
16 16 1.0
35 34 0.9714285714285714
18 15 0.8333333333333334
12 10 0.8333333333333334
24 24 1.0
23 23 1.0
39 32 0.8205128205128205
12 9 0.75
24 24 1.0
23 23 1.0
18 18 1.0
24 21 0.875
24 24 1.0
23 23 1.0
39 37 0.9487179487179487
24 22 0.9166666666666666
24 24 1.0
23 23 1.0
39 35 0.8974358974358975
16 15 0.9375
24 24 1.0
23 23 1.0
39 38 0.9743589743589743
18 16 0.8888888888888888
23 23 1.0
47 47 1.0
4 4 1.0
40 40 1.0
99 77 0.7777777777777778
67 49 0.7313432835820896
14 14 1.0
43 43 1.0
45 45 1.0
13 13 1.0

In [6]:
dfall[-1]

,_id,name,isvalid,ispredictable,element,face,unitlength,xc,adsorbate,numberofads,coverage,surfatomnum,E,bareE,E_ads,totaladsE,aveadsE/suratom,aveadsE/ads,E_int_space,sumE_each_ads,E_residue/suratom,area,density,igroups,rgroups,converged,is_adsorbed,kept_sites,E_not_exceeded,minimum_distance,ads_dist2,ads_dist3
0,5e8767befa89afb6bb607a88,CuSn_001_u2_RPBE_no001_CO_n1_d14.traj,yes,no,CuSn,001,2,RPBE,CO,1,0.25,4,-63.223193,-47.786437,-14.485436,-0.951319,-0.237830,-0.951319,0.000409,NaN,NaN,62.099399,0.016103,[0],[0],yes,yes,yes,yes,Over 4,0.0,0.000000
1,5e8767c1fa89afb6bb607a8a,CuSn_001_u2_RPBE_no002_CO_n1_d14.traj,yes,no,CuSn,001,2,RPBE,CO,1,0.25,4,-63.126133,-47.786437,-14.485436,-0.854259,-0.213565,-0.854259,0.000409,NaN,NaN,62.099399,0.016103,[1],[1],yes,yes,yes,yes,Over 4,0.0,0.000000
2,5e8767c3fa89afb6bb607a8c,CuSn_001_u2_RPBE_no004_CO_n1_d14.traj,no,no,CuSn,001,2,RPBE,CO,1,0.25,4,-62.264677,-47.786437,-14.485436,0.007196,0.001799,0.007196,0.000403,NaN,NaN,62.099399,0.016103,[3],[3],yes,no,yes,yes,3,0.0,0.666667
3,5e89d93222a772c446089482,CuSn_001_u2_RPBE_no002_CO_n2_d6.traj,yes,yes,CuSn,001,2,RPBE,CO,2,0.50,4,-78.622856,-47.786437,-14.485436,-1.865547,-0.466387,-0.932773,-0.009117,-1.902639,0.011552,62.099399,0.032206,"[0, 0]","[0, 0]",yes,yes,yes,yes,Over 4,0.0,0.000000
4,5e89d93422a772c446089485,CuSn_001_u2_RPBE_no004_CO_n4_d6.traj,yes,yes,CuSn,001,2,RPBE,CO,4,1.00,4,-109.360990,-47.786437,-14.485436,-3.632808,-0.908202,-0.908202,-0.026941,-3.805277,0.049853,62.099399,0.064413,"[0, 0, 0, 0]","[0, 0, 0, 0]",yes,yes,yes,yes,Over 4,0.0,0.000000
5,5e89d93722a772c446089487,CuSn_001_u2_RPBE_no006_CO_n4_d6.traj,no,no,CuSn,001,2,RPBE,CO,4,1.00,4,-109.439791,-47.786437,-14.485436,-3.711608,-0.927902,-0.927902,0.007471,NaN,NaN,62.099399,0.064413,"[1, 1, 0, 0]","[0, 2, 0, 0]",yes,yes,no,yes,3,0.0,4.000000
6,5e89d93922a772c446089489,CuSn_001_u2_RPBE_no007_CO_n2_d6.traj,yes,yes,CuSn,001,2,RPBE,CO,2,0.50,4,-78.486257,-47.786437,-14.485436,-1.728948,-0.432237,-0.864474,0.002040,-1.805579,0.018648,62.099399,0.032206,"[1, 0]","[1, 0]",yes,yes,yes,yes,Over 4,0.0,0.000000
7,5e89d93c22a772c44608948b,CuSn_001_u2_RPBE_no008_CO_n3_d6.traj,no,no,CuSn,001,2,RPBE,CO,3,0.75,4,-84.937967,-47.786437,-14.485436,6.304779,1.576195,2.101593,0.024592,NaN,NaN,62.099399,0.048310,"[1, 1, 0]","[3, 1, 0]",yes,yes,no,yes,2,1.0,0.000000
8,5e89d93e22a772c44608948d,CuSn_001_u2_RPBE_no011_CO_n2_d6.traj,yes,yes,CuSn,001,2,RPBE,CO,2,0.50,4,-78.543851,-47.786437,-14.485436,-1.786541,-0.446635,-0.893270,0.001129,-1.805579,0.004477,62.099399,0.032206,"[1, 0]","[1, 0]",yes,yes,yes,yes,Over 4,0.0,0.000000
9,5e89d94022a772c44608948f,CuSn_001_u2_RPBE_no012_CO_n2_d6.traj,yes,no,CuSn,001,2,RPBE,CO,2,0.50,4,-78.730705,-47.786437,-14.485436,-1.973395,-0.493349,-0.986698,-0.002439,NaN,NaN,62.099399,0.032206,"[2, 0]","[2, 0]",yes,yes,yes,yes,Over 4,0.0,0.000000
10,5e89d94222a772c446089491,CuSn_001_u2_RPBE_no014_CO_n2_d6.traj,no,yes,CuSn,001,2,RPBE,CO,2,0.50,4,-79.337398,-47.786437,-14.485436,-2.580089,-0.645022,-1.290044,0.001086,-1.902639,-0.169634,62.099399,0.032206,"[1, 1]","[0, 0]",yes,yes,no,yes,Over 4,0.0,0.000000
11,5e89d94522a772c446089493,CuSn_001_u2_RPBE_no015_CO_n3_d6.traj,no,yes,CuSn,001,2,RPBE,CO,3,0.75,4,-94.654726,-47.786437,-14.485436,-3.411980,-0.852995,-1.137327,0.000744,-2.853958,-0.139691,62.099399,0.048310,"[1, 1, 1]","[0, 0, 0]",yes,yes,no,yes,Over 4,0.0,0.000000
12,5e89d94722a772c446089495,CuSn_001_u2_RPBE_no028_CO_n4_d6.traj,no,no,CuSn,001,2,RPBE,CO,4,1.00,4,-109.404289,-47.786437,-14.485436,-3.676107,-0.919027,-0.919027,0.215261,NaN,NaN,62.099399,0.064413,"[2, 2, 1, 1]","[0, 2, 0, 0]",yes,yes,no,yes,3,0.0,4.000000